@use "../../foundation/mixin" as m;

@function rclamp($max, $maxViewport, $minSize: null) {
  $minViewport: 768;
  $scale: $max / $maxViewport;
  $autoMin: $scale * $minViewport;
  $min: if($minSize !=null, $minSize, $autoMin);

  $minRem: $min / 16;
  $maxRem: $max / 16;
  $scaleRem: $scale * 100;

  @return clamp(#{$minRem}rem, #{$scaleRem}vw, #{$maxRem}rem);
}

@function rclamp-negative($value, $valueViewport, $minSize: null) {
  $value-rem: $value / 16;
  $start: 1360;
  $end: 768;
  $base: 1920;

  $scale: $value / $valueViewport;
  $ratio: $end / $base;
  $min: $value * $ratio;
  $min-rem: $min / 16;
  $scaleRem: $scale * 100;
  $slope: (
    $min-rem - $value-rem) / ($start - $end) * 100;
  @return clamp(#{$value-rem}rem, #{$scaleRem}vw, #{$min-rem}rem
);
}

@function vw-sp($px, $base: 375) {

  $num: if(unitless($px), $px, strip-unit($px));
  $vw: $num / $base * 100;

  @return #{$vw}vw;
}



a {
  text-decoration: none;
}

img {
  width: 100%;
}

.header {
  background-color: white;
  height: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  h1 {
    margin: 0;
  }

}

.header__logo {
  width: 136px;
  height: 169px;
}

.header__nav {

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 29px;
    margin-right: 83px;
    text-align: right;
  }
}

.header__nav--en {}

.header__nav--ja {
  color: #949494;
}


// main-visual

.main-visual {
  padding-inline: 215px;
  color: #fff;
  background-color: blue;
}

.main-visual__title {
  font-size: 61px;
}

.main-visual__lead {
  font-size: 42px;
}

main {
  padding-inline: 215px;
}

.philosophy__title {
  color: #DCDDDD;
  font-size: rclamp(126, 1920);
}

.philosophy__title-sub {
  color: #1B1464;
  font-size: rclamp(39, 1920);
}

.philosophy__text {
  font-size: rclamp(46,1920)
}