@use "../../foundation/mixin" as m;

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');

@function rclamp($max, $maxViewport, $minSize: null) {
  $minViewport: 768;
  $scale: $max / $maxViewport;
  $autoMin: $scale * $minViewport;
  $min: if($minSize !=null, $minSize, $autoMin);

  $minRem: $min / 16;
  $maxRem: $max / 16;
  $scaleRem: $scale * 100;

  @return clamp(#{$minRem}rem, #{$scaleRem}vw, #{$maxRem}rem);
}

@function rclamp-negative($value, $valueViewport, $minSize: null) {
  $value-rem: $value / 16;
  $start: 1360;
  $end: 768;
  $base: 1920;

  $scale: $value / $valueViewport;
  $ratio: $end / $base;
  $min: $value * $ratio;
  $min-rem: $min / 16;
  $scaleRem: $scale * 100;
  $slope: (
    $min-rem - $value-rem) / ($start - $end) * 100;
  @return clamp(#{$value-rem}rem, #{$scaleRem}vw, #{$min-rem}rem
);
}

@function vw-sp($px, $base: 375) {

  $num: if(unitless($px), $px, strip-unit($px));
  $vw: $num / $base * 100;

  @return #{$vw}vw;
}

:root {
  --color-blue: #1b1464;
  --color-: #;
  --bg-: #;
  --bg-: #;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;


}

body{
 font-family: "hiragino-kaku-gothic-pron", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}



// 共通

a {
  text-decoration: none;
}

.font-kozuka{
  font-family: "kozuka-gothic-pro", sans-serif;
}

// header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rclamp(30, 1920) rclamp(80, 1920);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  max-width: 1980px;
  left: 50%;
  transform: translateX(-50%);

  @include m.mq(sp) {

    padding: vw-sp(25);
    align-items: flex-start;
  }
}

.header__logo {
  width: rclamp(136, 1920);
  height: rclamp(169, 1920);

  @include m.mq(sp) {
    width: vw-sp(45);
    margin-top: -3%;
  }
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rclamp(83, 1920);

  a {
    font-size: rclamp(29, 1920);
    text-align: right;
    color: white;
  }

  @include m.mq(sp) {
    display: none;
  }
}

.header__nav--en {
  transition: all 0.3s 0s ease;
}

.header__nav--en.color-change {
  color: gray;
}

.header__nav--ja {
  color: #949494;
  font-size: rclamp(25, 1920);
}

// main-visual

.main-visual {
  // padding: rclamp-negative(300, 1920) rclamp-negative(190, 1920);

  color: #fff;
  background-image: url(../../assets/image/bg_mv.webp);
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.mv__inner {
  width: 100%;
  max-width: 1910px;
  margin: 0 auto;
  padding-inline: rclamp(254, 1920);
  padding-block: rclamp(326, 1920) rclamp(274, 1920);

  @include m.mq(sp) {
    padding-inline: vw-sp(20);
    padding-block: vw-sp(100);
  }

}

.bg_mv-deco {
  position: absolute;
  top: -8%;
  right: 6%;
  width: rclamp(890, 1920);
  height: rclamp(1800, 1920);
}

.main-visual__logo {
  width: rclamp(283, 1920);
}

.main-visual__title {
  margin-top: rclamp-negative(60, 1920);
  font-size: rclamp(61, 1920);
  line-height: calc(86 / 61);
  letter-spacing: 0.075em;
  font-weight: bold;
}

.main-visual__lead {
  margin-top: rclamp-negative(66, 1920);
  font-size: rclamp(42, 1920);
  line-height: calc(88 / 42);
}

main {
  position: relative;
  background: url(../../assets/image/bg_deco01.webp);
  background-size: rclamp(2338, 1920) rclamp(2700, 1920);
  background-position: 0% rclamp-negative(-450, 1920);
  background-repeat: no-repeat;


  @include m.mq(sp){
    background-size: 180% 30%;
    background-position: 29% -100px;
  }

}

.bg-01 {
  position: absolute;
  width: 100%;
  max-width: 1630px;
  height: rclamp(2500, 1920);
  top: -8%;
  right: 0;
}

// section共通



.section {
  padding-inline: rclamp(215, 1920);
  // margin-top: rclamp-negative(190, 1920);
  scroll-margin-top: rclamp(100, 1920);

  @include m.mq(sp) {
    padding-inline: vw-sp(20);
    scroll-margin-top: vw-sp(80);

  }
}

.section.philosophy {
  margin-top: 0;
}

.section__inner {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

.company .section__inner
{
  max-width: 1520px;

}
.section__title {
  color: #dcdddd;
  font-size: rclamp(126, 1920);
  font-weight: bold;
  letter-spacing: 0.075em;

  @include m.mq(sp) {
    font-size: vw-sp(36);
  }
}

.section__title.philosophy__title{
  font-size: rclamp(126, 1920);
  letter-spacing: 0.12em;

  @include m.mq(sp){
     font-size: vw-sp(36);
  }
}

.section__title.service__title{
  font-size: rclamp(113, 1920);
  letter-spacing: 0.12em;

  @include m.mq(sp){
    font-size: vw-sp(36);
  }
}

.section__sub-title {
  // padding: rclamp(10, 1920) rclamp(50, 1920);
  width: fit-content;
  border: solid 2px #1b1464;
  margin-top: rclamp-negative(-12, 1920);

  @include m.mq(sp) {
    border: solid 2px #1b1464;
    margin-top: vw-sp(-2);

  }
}

.section__sub-title.service__sub-title{
  width: rclamp(267, 1920);

  @include m.mq(sp){
    width: vw-sp(100);
  }

}

.section__sub-title-text {
  color: #1b1464;
  font-size: rclamp(39, 1920);
  text-align: center;
  font-weight: bold;

  @include m.mq(sp) {
    font-size: vw-sp(16);
  }
}

.section__text-box {
  margin-top: rclamp(56, 1920);
}

.philosophy__text-box{
  margin-top: rclamp(36 ,1920);
  line-height: 1.7;
}

.section__text {
  color: #1b1464;
  font-size: rclamp(46, 1920);

  @media screen and (max-width: 768px) {
    font-size: vw-sp(18);
  }
}

.philosophy {
  padding-top: rclamp(246, 1920);

  @include m.mq(sp){
    padding-top: vw-sp(80);
  }
}

.philosophy__sub-title{
  width: rclamp(268, 1920);
  padding: 0;

  @include m.mq(sp){
     width: vw-sp(100);
  }
}

// about



.about {
  margin-top: rclamp(220, 1920);
  margin-left: auto;
  // padding: rclamp(80, 1920);
  width: 81.5%;
  background-color: #c7c7c7;
  border-radius: 300px 0 0 300px;
  padding-left: rclamp(224, 1920);
  padding-block: rclamp(124, 1920) rclamp(156, 1920);
  opacity: 0.9;

  @include m.mq(sp) {
    border-radius: 150px 0 0 150px;
    width: 85%;
    margin-top: vw-sp(60);

  }
}

.about__title {
  color: #fff;
  font-size: rclamp(73, 1920);
  font-weight: bold;
  letter-spacing: 0.12em;

  @include m.mq(sp) {
    font-size: vw-sp(30);
  }
}

.about__text-box {
  margin-top: rclamp(56, 1920);
}

.about__text {
  font-size: rclamp(30, 1920);
  line-height: calc(52 / 30);

  @include m.mq(sp) {
    font-size: vw-sp(12);
  }
}

.about__text+.about__text {
  margin-top: rclamp(54, 1920);
}

// service

.service {
  padding-bottom: rclamp(535 ,1920);
  position: relative;
  background: url(../../assets/image/bg_deco02.webp) no-repeat 20% calc(100% - rclamp-negative(-236, 1920))/cover;
  background-size: 137% 100%;
  margin-top: rclamp(370, 1920);

  @include m.mq(sp) {
    margin-top: vw-sp(80);
    padding-bottom: 150px;
  }

}

.bg-02 {
  position: absolute;
  width: 100%;

}


.service__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.mq(sp) {
    flex-direction: column;
  }
}

.service__text {
  font-size: rclamp(38, 1920);
  color: var(--color-blue);
  width: 50%;
  line-height: calc(69 / 38);
  margin-right: rclamp(120, 1920);
  max-width: rclamp(610 ,1920);

  @include m.mq(sp) {
    width: 100%;
    margin-right: 0;
    max-width: 100%;
  }
}

.service__content {
  margin-top: rclamp(42 ,1920);
}

.service__img {
  width: 60%;
  margin-top: rclamp-negative(-140, 1920, );
  max-width: rclamp(824 ,1920);
  margin-right: rclamp-negative(-90,1920 );

  @include m.mq(sp) {
    width: 80%;
    margin-top: vw-sp(50);
    max-width: 100%;
    margin-right: 0;
  }
}


.service__list {
  margin-top: rclamp(390, 1920);

  @include m.mq(sp) {
    margin-top: vw-sp(60);
  }
}

.service__item {
  // border: solid 2px #1b1464;
  position: relative;
  margin-top: rclamp(300, 1920);

  &:first-child {
    margin-top: 0;
  }

  @include m.mq(sp) {
    margin-top: vw-sp(40);
  }

}

.service__item-inner {
  position: relative;

  &:after{
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgb(255 255 255 / 75%);
    z-index: -1;

  }

  p {
    width: 90%;
    font-size: rclamp(30, 1920);
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.8;

    @include m.mq(sp) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: inherit;
      font-size: vw-sp(12);

    }
  }
}

.service__item-inner.second{
  p{
    top: 58%;
  }
}
.service__item-inner.third{
  p{
    top: 53%;
  }
}

.service__item-head {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  margin-bottom: vw-sp(10);

  p {
    font-size: vw-sp(36);
    margin-right: vw-sp(5);
    line-height: 1;
    font-family: "Zen Old Mincho", serif;
      color: #898989;


  }

  h3 {
    position: relative;
    font-size: vw-sp(16);
    color: var(--color-blue);
    font-weight: bold;

    &::before {
      content: "SERVICE";
      position: absolute;
      top: -100%;
      left: 0%;
      font-size: vw-sp(12);
      font-family: "Zen Old Mincho", serif;
      color: #898989;
    }
  }
}


.service__item-wrapper {
  display: flex;
  align-items: center;
  gap: rclamp(55, 1920);
  font-weight: bold;
}

.service__item-number {
  color: #898989;
  font-size: rclamp(146, 1920);
}

.service__item-title {
  position: relative;
  color: #1B1464;
  font-size: rclamp(53, 1920);
  font-weight: bold;
}

.service__item-title::after {
  content: "SERVICE";
  font-size: rclamp(40, 1920);
  position: absolute;
  left: 0;
  top: -45px;
}

.service__item-text {
  margin: rclamp(90, 1920);
  font-size: rclamp(32, 1920);
}

// company

.company {
  margin-top: rclamp-negative(-106, 1920);

  @include m.mq(sp){
     margin-top: vw-sp(-34);
  }
}

.company__head-inner {
  width: 100%;
  max-width: 1910px;
  margin: 0 auto -0.2%;
  padding-inline: rclamp(190, 1920);

  @include m.mq(sp) {
    padding-inline: 0;
  }
}

.company__title {

  width: rclamp(820, 1920);
  max-width: 820px;

  h2 {

    svg {
      width: 100%;
    }
  }

  @include m.mq(sp) {
    width: vw-sp(250);
  }
}

.company__content {

  background-image: url(../../assets/image/bg_company.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: rclamp(150, 1920) rclamp(350, 1920);
  padding-inline: rclamp(215, 1920);



  @include m.mq(sp) {
    padding-inline: vw-sp(20);
    padding-block: vw-sp(40) vw-sp(100);
    margin-top: vw-sp(-3);
  }
}

// .company .section__inner{
//   width: 100%;
// }
.company__inner {}

.company__sub-title {
  font-size: rclamp(45, 1920);
  color: var(--color-blue);

  @include m.mq(sp){
     font-size: vw-sp(18);
  }
}

/* table01 */

#table01 {
  padding: rclamp(90, 1920);
  width: 100%;
  margin-top: rclamp(120, 1920);
  background: white;
  border-radius: 50px;

  @include m.mq(sp) {
    margin-top: vw-sp(40);
  }
}

#table01 tr {
  border-bottom: 1px solid #1A4874;

  &:last-child {
    border-bottom: none;

  }
}

#table01 th,
#table01 td {
  padding: rclamp(60, 1920) 0;
  border: none;
  font-size: rclamp(35, 1920);
  background-color: #fff;
  text-align: left;
  white-space: wrap;

  @include m.mq(sp) {
    font-size: vw-sp(12);
  }
}


#table01 th {
  width: 28%;
  color: #666666;
}

tbody {
  padding: rclamp(116, 1920) rclamp(184 ,1920) rclamp(50 ,1920);
  display: block;

  @include m.mq(sp) {
    padding: vw-sp(20);
  }
}




/* sp */
@media only screen and (max-width: 480px) {

  #table01 th,
  #table01 td {
    width: 100%;
    display: block;
  }

  #table01 th {
    width: 100%;
  }

  #table01 td {
    padding-top: 0;
  }
}


/* ハンバーガーメニュー */
.menu-right {

  display: none;

  @include m.mq(sp) {

    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background: rgb(0 30 100 / 58%);
    opacity: 0;
    transform: translateX(100%);
    /* Y軸ではなくX軸を使う */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    border-radius: 150px 0 0 150px;
    /* スライド速度を0.6秒に設定 */
  }



}

#hamburger {

  display: none;

  @include m.mq(sp) {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
    cursor: pointer;
    z-index: 999;

  }


}

#hamburger span,
#hamburger::before,
#hamburger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  transition: all 0.3s ease-in-out;
  /* 線のアニメーション */
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
}

/* メニューが開いたときのクロススタイル */
.hamburger-active #hamburger span {
  opacity: 0;
}

.hamburger-active #hamburger::before {
  top: 45%;
  transform: rotate(45deg);
  /* 上の線を45度回転させてクロス */
}

.hamburger-active #hamburger::after {
  bottom: 45%;
  transform: rotate(-45deg);
  /* 下の線を-45度回転させてクロス */
}

.menu-right.open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  /* 開閉両方に適用 */
}

.menu-right ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-right li {
  margin: 0;
  padding: 0;
}

.menu-right li span {
  font-size: 15px;
  color: #333;
}

.menu-right li a,
.menu-right li span {
  display: block;
  padding: 20px 0;
  font-size: vw-sp(20);
  color: white;
}