/*--------------------------------------*
  * foundation
*--------------------------------------*/
/*--------------------------------------*
    * layout
*--------------------------------------*/
/*--------------------------------------*
    * project
*--------------------------------------*/
a {
  text-decoration: none;
}

img {
  width: 100%;
}

.header {
  background-color: white;
  height: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}
.header h1 {
  margin: 0;
}

.header__logo {
  width: 136px;
  height: 169px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav a {
  font-size: 29px;
  margin-right: 83px;
  text-align: right;
}

.header__nav--ja {
  color: #949494;
}

.main-visual {
  padding-inline: 215px;
  color: #fff;
  background-color: blue;
}

.main-visual__title {
  font-size: 61px;
}

.main-visual__lead {
  font-size: 42px;
}

main {
  padding-inline: 215px;
}

.philosophy__title {
  color: #DCDDDD;
  font-size: clamp(3.15rem, 6.5625vw, 7.875rem);
}

.philosophy__title-sub {
  color: #1B1464;
  font-size: clamp(0.975rem, 2.03125vw, 2.4375rem);
}

.philosophy__text {
  font-size: clamp(1.15rem, 2.3958333333vw, 2.875rem);
}